@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
.container{
    width: 100%;
    height: auto ;
    background:#fff;

    padding: 50px;
}
.nav-logo{
    /* display: inline-block; */
    font-family: "Montserrat";
    font-weight: bolder;
}
.nav-bar{
    position: absolute;
    top: 55px;
    left: 1100px;
   
    align-items: center;
}
.nav-bar a {
    font-size: 20px;
    margin-left: 20px;
    font-family: Montserrat;
    font-weight: 500;
    color: #333333;
}
.nav-bar a:hover{
    
   color: #ea1616;
    border-radius: 20px;
    transition: 0.5s;
    
}
.nav-logo h2{
    text-transform: capitalize;
}
.body-contain{
    
    margin-top: 150px;
    
}

    .body-contain h2 {
        font-family: 'Playfair Display', serif;
        text-transform: capitalize;
        padding-right: 405px;
        font-size: 60px;
    }

.body-contain p{
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 20px;
}
.body-contain img{
    position: absolute;
    width: 710px;
    
    left: 1000px;
    top: 230px;
}

/* ----bar-contain-- */
.bar-bck{

    background-color: #F2F2F2;
    width: 100%;
    height: 270px;

    align-items: center;
    text-align: center;
}
.bar-bck h2{
    color:#707070;
    font-family: 'Playfair Display', serif;
    

    padding-top: 140px;
    font-size: 50px;
}
.bar-bck h6{
    color:#707070;
    font-family: 'Montserrat', sans-serif;
   
    padding-top: 5px;
    font-size: 15px;
}
.btncolor{
    background-color: #FF6884;